body {
    background: #FFFFFF;
    padding:0;
    margin:0;
    font-size:16px;
    line-height: 100%;
    font-family: arial;
}

.clearfix {
    clear: both;
}


.wrapper {
    width:816px;
    height:1056px;
    margin:0 auto;
    padding:50px;
    overflow-y: auto;

}

#top {
    position: relative;
    left:0;
    right:0;
}



#address {
    width:400px;
    float:left;
    margin-left:80px;
    
}


#topbar{
    position: relative;
    left:0; 
    right:0; 
    padding-top:8px;
    padding-bottom: 8px;
    height:auto;
    min-height: 30px;

}

#topbar img {
    display: block;
    position:absolute;
    z-index: -1000;
}

#invoice {
    position: absolute;
    font-size:22px;
    line-height: 24px;
    color:#FFFFFF;
    width:auto;
    text-align: center;
    margin-top:10px;
    margin-bottom:5px;
    margin-left:100px;
    z-index: 1000;
}

#date {
   position: absolute;
    font-size:22px;
    line-height: 24px;
    color:#FFFFFF;
    width:auto;
    text-align: center;
    margin-top:10px;
    margin-bottom:5px;
    margin-left:570px;
    left:600px
    z-index: 1000; 
}

#logo {
    background-position: top center;
    width: 240px;
    min-height:100px;
    float:left;
    margin-left: 60px;
}

#coverletterlogo {
	width: 161px;
	height:auto;
	margin-left:40px;
	float:left;
}

#billandship {
    left:0;
    right:0;
    padding-bottom:20px;
    border-bottom: 1px solid #232323;
    margin-top:80px;
}

#billto {
    width:100px;
    float:left;
    margin-left:150px;
}

#shipto {
    width:100px;
    float:left;
    margin-left:340px;
}

#addresses {
    margin-top:30px;
}

#addresses {
    margin-top:30px;
}

#address1 {
    width:300px;
    height:auto;
    float:left;
    margin-left:100px;
    
}

#address2 {
    width:300px;
    height:auto;
    float:left;
    margin-left:110px;
}

#fourtable {
    margin-top:30px;
}

#totaltable{
    margin-top:150px;
    width:408px;
    float:right;
}



#idcase {
	float:left;
	margin-left:0px;
	width:auto;
	height:auto;
}

#ouraddress {
	float:right;
	width:auto;
	height:auto;

}

#casenumbertop {
	text-align: right;
	font-weight: bold;
}

.headlinemerchantorder {
	left:0;
	right:0;
	text-align:center;
	padding-top: 5px;
	padding-bottom:5px;
	background-color:#c7c7c7;
}

.lightercells {
	background-color: #eaeaea;
}

.smallercell {
	width:46px;
}

.largercell {
	width:763px;
}

.orderfonts {
	font-size:14px;
}



@page
    {
	  size: auto;
	  margin: 0mm;
  }


@media print {
	body {
		-webkit-print-color-adjust:exact;
	}

	.wrapper {page-break-after: always;}


#wrappertos {page-break-after: always;}
}

#logo {
	width: 240px;
	min-height:100px;
	float:left;
	margin-left: 60px;
}

#invoice {
	position: absolute;
	font-size:22px;
	line-height: 24px;
	color:#FFFFFF;
	-webkit-print-color-adjust: exact;
	text-align: center;
	margin-top:10px;
	margin-bottom:5px;
	margin-left:100px;
	z-index: 1000;
}

#date {
	position: absolute;
	font-size:22px;
	line-height: 24px;
	color:#FFFFFF;
	-webkit-print-color-adjust: exact;
	text-align: center;
	margin-top:10px;
	margin-bottom:5px;
	margin-left:570px;
	left:600px
z-index: 1000;
}