body {
    margin:0; 
    padding:0;
    overflow-x: hidden;
    
}

.wrapper {
    max-width: 756px;
    width:100%;
    margin: 0 auto;
    overflow-y:visible;
    margin-top:10px;
    padding-bottom:10px;
    
}

.container { 
    max-width: 756px;
    border: 1px solid #717171;
    border-radius: 10px 10px 10px 10px;
}

.whatsyourskinage {
    background:#3d5789;
    color:#FFFFFF;
    border-radius:8px 8px 0px 0px;
}

.whatsyourskinage h1 {
    font-size:16px;
    line-height: 18px;
    margin:0;
    padding-top:10px;
    padding-bottom:10px;
}

.fb-like {
    padding-top:10px;
}

#youngold {
    margin: 0 auto;
    display:block;
    max-width: 300px;
}

.welcomeheadline h1 {
    text-align: center;
    font-size:26px;
    line-height: 22px;
    padding-top:10px;
    padding-bottom:10px;
    font-weight: bold;
}

.display {
    display:none!important;
}

.radio {
    float: left;
    margin-top:15px;
    padding:5px;
    background:#232323;
}


.startbutton {
    text-align: center;
}

.startbutton input {
    font-size:20px;
    color:#232323;
    border:none;
    border-radius:8px;
    width:60%;
     margin-top:10px;
    padding:10px;
    
    
}

.startbutton input:hover {
    text-decoration: underline;
}



.sharebutton {
  text-align: center;
  border: none;
  border-radius: 8px;
  width: 60%;
  margin-top: 10px;
  background: #3d5789 url('../images/facebook-grey.png') no-repeat;
  background-position: center left;
  padding: 10px;
  margin: 10px auto;
  color: #FFFFFF;
  font-size: 18px; 
}

.sharebutton:hover {
    text-decoration: underline;
}


.ans1,
.ans2,
.ans3,
.ans4,
.ans5 {
    padding:0; 
    margin: 0; 
    float: left;
}
