letter {
    display: block;
    margin: 10px;
    padding: 5px;
    width: 300px;
    height: 100px;
    border: 1px solid #00000;
    overflow: auto;
    background-color: #cccccc;
    font: 12px Arial;
}
to, from {
    display: block;
    font-weight: bold;
}
message {
    display: block;
    font: 11px Arial;
}